# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Testing
coverage
.nyc_output

# Production
.next
out
build
dist

# Misc
.DS_Store
*.pem

# Debug
*.log*

# Local env files
.env*.local
.env

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Git
.git
.gitignore

# Docker
docker-compose.yml

# Data
data/

# README
README.md
